* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.otf binary
*.ttf binary
*.pdf binary
*.zip binary
*.wav binary
*.ogg binary
# Unity writes a trailing space for empty serialized lists.
*.unity whitespace=-blank-at-eol
*.meta whitespace=-blank-at-eol
*.asset whitespace=-blank-at-eol
