[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/
.vsconfig
.idea/
*.csproj
*.sln
*.user
*.log
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.unitypackage
ThirdParty/*.otf
Artifacts/
__pycache__/
*.pyc
